<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

	<div class="nav-bar"></div>

	<div id="app">
		<div class="cart">
			<p>Cart({{ cart.length }})</p>
		</div>
		<product :premium="premium" @add-to-cart="updateCart" @remove-from-cart="removeFromCart"></product>
	</div>
	
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="main.js"></script>
</body>
</html>
